<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Editar productos</title>
</head>
<body>

<div class="container">
    <h3>Editar producto</h3>
    <div>

        <form action="#" method="post"
            th:object="${cliente}"
            th:action="@{/clientes/update/{idCliente} (idCliente=${cliente.idCliente})}">

            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre"
                       class="form-controller"
                       placeholder="ingrese nombre"
                       th:field="*{nombre}">
            </div>

            <div class="form-group">
                <label for="apellido">Apellido</label>
                <input type="text" id="apellido"
                       class="form-controller"
                       placeholder="ingrese Apellido"
                       th:field="*{apellido}">
            </div>
            <div class="form-group">
                <label for="direccion">Direccion</label>
                <input type="text" id="direccion"
                       class="form-controller"
                       placeholder="ingrese direccion"
                       th:field="*{direccion}">
            </div>
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input type="text" id="telefono"
                       class="form-controller"
                       placeholder="ingrese Telefono"
                       th:field="*{telefono}">
            </div>

            <button type="submit" class="btn btn-primary">
                Editar Cliente
            </button>

        </form>

    </div>
</div>


</body>
</html>