<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Editar Pedido</title>
</head>
<body>

<div class="container">
    <h3>Editar Pedido</h3>
    <div>

        <form action="#" method="post"
              th:object="${pedido}"
              th:action="@{/pedidos/update/{codigoPedido} (codigoPedido=${pedido.codigoPedido})}">

            <div class="form-group">
                <label for="fecha">Fecha</label>
                <input type="text" id="fecha"
                       class="form-controller"
                       placeholder="ingrese nombre"
                       th:field="*{fecha}">
            </div>

            <div class="form-group">
                <label for="estado">Estado</label>
                <input type="text" id="estado"
                       class="form-controller"
                       placeholder="ingrese precio"
                       th:field="*{estado}">
            </div>
            <div class="form-group">
                <label for="nombrePedido">NombrePedido</label>
                <input type="text" id="nombrePedido"
                       class="form-controller"
                       placeholder="ingrese stock"
                       th:field="*{nombrePedido}">
            </div>

            <button type="submit" class="btn btn-primary">
                Editar Producto
            </button>

        </form>

    </div>
</div>


</body>
</html>