<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Listado de pedido</title>
</head>
<body>

<div class="container">
    <h3>Listado de Pedido</h3>
    <div class="col-md-12" >
        <a th:href="@{/pedidos/add}" class="btn btn-primary">Agregar Pedidos</a>
    </div>

    <div th:switch="pedido">
        <div th:case="*">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">CodigoPedio</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Estado</th>
                    <th scope="col">NombrePedido</th>

                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pedido : ${pedidos}">
                    <th scope="row" th:text="${pedido.codigoPedido}"></th>
                    <td th:text="${pedido.fecha}"></td>
                    <td th:text="${pedido.estado}"></td>
                    <td th:text="${pedido.nombrePedido}"></td>


                    <td class="text-right">
                        <div class="btn-group">
                            <a th:href="@{/pedidos/edit/{codigoPedido} (codigoPedido=${pedido.codigoPedido}) }"
                               class="btn btn-primary btn-sm">Editar</a>
                            <a th:href="@{/pedidoa/delete/{codigoPedido} (codigoPedido=${pedido.codigoPedido}) }"
                               class="btn btn-danger btn-sm">Eliminar</a>
                        </div>
                    </td>

                </tr>

                </tbody>
            </table>
        </div>
    </div>

</div>


</body>
</html>